body {
  background: url('neuron.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}


img {
width: 100%;
display: block;
}

/*#image4{
width: 90%;
display: block;
}
*/
.content {
	width: 20rem;
	height: 10rem;
	min-width: 25rem;
	min-height: 15rem;
}


